* {
    box-sizing: border-box;
}

body, div, p, ul, li, footer {
    margin: 0;
    padding: 0;
}

body {
    --header-color: #5af;
    --header-movement-color: #0007;   
    --first-section-color: #f8f8f8;
    --footer-color: #999;
    
}

/* ------ FIRST-SECTION SECTION -------  */

.section__first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.section__label input {
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: clamp(400px, 450px, 500px);
}

.firstSection__item {
    display: flex;
    align-items: center;
}

.firstSection__item:first-child {
    font-size: clamp(25px, 30px, 35px);
    color: var(--first-section-color);
    display: flex;
}

.subFirst-item:first-child {
    font-size: clamp(40px, 45px, 50px);
    margin-right: 20px;
}

.firstSection__item:nth-child(3) {
    gap: 10px;
}

.firstSection__subfirst, .firstSection__subsecond {
    margin: 0 8px;
}

.firstSection__subfirst:hover {
    opacity: 0.7;
}

.firstSection__subsecond:hover {
    opacity: 0.7;
}


/* ----- HEADER SECTION ------ */

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    animation: nav-movement both;
    animation-timeline: scroll();
    animation-range: 10px 100px;
    background-color: var(--header-color);
}

.header__nav {
    /*background-color: var(--header-color);*/
    position: relative;
}

.header__nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #fff;
}

.header__nav-item {
    font-size: clamp(20px, 30px, 50px);
    padding: 10px;
}


.header__nav-item a{
    text-decoration: none;
    color: #eee;
}

.header__categories {
    color: #eee;
    font-size: clamp(17px, 27px, 47px);
}

.header__button {
    color: #eee;    
    font-size: clamp(12px, 22px, 42px);
    
}

.header__nav-item a:hover {
    border-bottom: 2px solid #fff;
}

.header__categories-box:hover {
    opacity: 0.7;
}

.header__categories-option {
    display: none;
}

.header__categories-options {
    display: none;
}
.header__categories-option:checked ~ .header__categories-options{
    display: flex;
    flex-direction: column;
}


.header__categories {
    cursor: pointer;
    border: none;
}

.header__categories-options {
    size: 1px;
    top: 100%;
    left: 0;
    z-index: 1;
}

.header__categories-options button {
    border: none;
    cursor: pointer;
    color: #111;
}
.header__categories {
    background-color: transparent;
}
.header__button {
    background-color: transparent;
}

.header__button:hover {
    background-color: #0003;
}

/* HEADER SIDEBAR SECTION */

.header__sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1000;
}




.header__sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;

}

.header__sidebar-item {
    color: #111;
    font-size: clamp(25px, 35px, 45px);
}

.header__sidebar-item a {
    text-decoration: none;
    color: #111;
}

.header__sidebar-item a:hover {
    opacity: 0.7;
}

.header__open-sidebar {
    background-color: transparent;
    border: none;
    color: var(--first-section-color);
    font-size: clamp(25px, 30px, 35px);
}

.header__close-sidebar {
    text-decoration: none;
    color: #111;
    background-color: var(--first-section-color);
    border: none;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    border-radius: 20%;
}

/* FLIP SECTION */

.images-flip {
    position: relative;
}

.images-back-container {
    position: absolute;
    top: 0;
}

.images-container, .images-back-container {
    backface-visibility: hidden;
    transition: transform 1.2s;
}

.images-flip:hover .images-container {
    transform: perspective(1000px) rotateY(180deg);
}

.images-flip:hover .images-back-container {
    transform: perspective(1000px) rotateY(360deg);
}

.images-container {
    transform: perspective(1000px) rotateY(0deg);
}

.images-back-container {
    transform: perspective(1000px) rotateY(180deg);
    display: block;
}



/* CATEGORIES SECTION */


.images-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.food-product {
    font-size: clamp(15px, 35px, 55px);
    color: #111;
    border: 2px solid #0002;
    border-radius: 5%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 9px #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.food-product p{
    margin: 10px 0;
}

.food-product img{
    height: 100px;
    width: 100px;
    
}

.food-product p:nth-child(2) {
    font-size: clamp(10px, 20px, 30px);
}

.food-product p:nth-child(3){
    font-size: clamp(7px, 20px, 25px);
}

/* ------ MAIN SECTION ------- */

.main {
    animation: appear 2.5s -0.4s both;
}

.section__categories, .section__best-sellers, .section__offers {
    animation: appear both;
    animation-timeline: view();
    animation-range: cover 3% cover 40%;
}
.section__categories fieldset, .section__best-sellers fieldset, .section__offers fieldset {
    padding: 30px;
    border: none;
    border-bottom: 1px solid #0008;
}

.section__categories legend, .section__best-sellers legend, .section__offers legend {
    font-size: clamp(20px, 30px, 40px);
}

/* OFFERS */

.offers-image-container {
    display: flex;
    height: 500px;
    width: 1000px;
    background-color: #999;
    margin: auto;
}

.section__offers {
    margin: 50px;
}

/* CATEGORIES */

.section__categories {
    margin: 50px;
}
.images-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}


/* BEST-SELLERS */

.section__best-sellers {
    margin: 50px;
}

/* ------ FOOTER SECTION ------ */

.footer {
    background-color: var(--footer-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.footer__item-title {
    font-size: clamp(12px, 20px, 32px);
}

.footer__item-list {
    list-style: none;
    font-size: clamp(7px, 14px, 20px);
    margin: 4px 0;
}

.footer__item-list a {
    text-decoration: none;
    color: #000;
}

.footer__item-list a:hover {
    color: #fff;
}


/* ---- ANIMATIONS ---- */

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes nav-movement {
    from {
        background-color: var(--header-color);
    }

    to {
        background-color: var(--header-movement-color);
        color: #fff;
    }
    
}
